* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regular font  */
@font-face {
  font-family: "Dongel";
  src: url(/font-dongle/Dongle-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* bold font  */
@font-face {
  font-family: "Dongel";
  src: url(/font-dongle/Dongle-Bold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* font light  */
@font-face {
  font-family: "Dongel";
  src: url(font-dongle/Dongle-Light.woff2);
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
